/* body */
* {
    scroll-behavior: smooth;

}

body {
    /* position: relative; */
    width: auto;
    height: auto;
    background: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
}

/* Header Start */
header {
    /* position: absolute; */
    /* width: ;
    height: ; */
    height: 600px;
    left: 0;
    top: 0;
    background-color: rgb(8, 8, 8);
}

/* navbar start */
/* rectangle 1  */
.rectangle-1 {
    position: absolute;
    width: 1110px;
    height: 70px;
    left: 85px;
    top: 0;
    border-radius: 0px 0px 8px 8px;
    background: rgb(27, 27, 27);

}

/* top menu */
.top-menu {
    position: absolute;
    width: 717px;
    height: 18px;
    left: 100px;
    top: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    list-style: none;

}

li {
    margin-right: 70px;
}

li>a {
    text-decoration: none;
    color: rgb(156, 156, 156);
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 1%;
    text-align: left;
}

/* social icons */
.social-icons {
    position: absolute;
    width: 120px;
    height: 1*px;
    left: 920px;
    top: 26px;

    /* items sequence */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* navbar end */


/* hero start */

/* hero text */
.hero-text {
    position: absolute;
    width: 578px;
    height: 250px;
    left: 180px;
    top: 170px;
}

.name {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 36px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.description {
    color: rgb(156, 156, 156);
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1%;
    text-align: left;
}

.btn-hero {
    position: static;
    width: 307.89px;
    height: 55px;
    padding: 17px 50px 17px 50px;
    color: rgb(255, 255, 255);

    font-family: IBM Plex Mono;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0%;

    box-sizing: border-box;
    border: 1px solid rgb(98, 186, 27);
    border-radius: 4px;
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.5);
    background: rgb(63, 142, 0);
    cursor: pointer;
    margin-top: 10px;
}

button>img {
    height: 10px;
    width: 5.89px;
    margin: 0px 7px;
}


/* hero image */
.hero-image {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 800px;
    top: 150px;

    background-image: url("./assets/hero/pic.png");
    background-size: cover;
    border-radius: 50%;
}


/* hero end */


/* client start */
.client-wrapper {
    position: absolute;
    width: 920px;
    height: 60px;
    left: 180px;
    top: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-wrapper>img {
    position: absolute;
    width: 120px;
    height: 50px;
    left: 0;
    right: 760px;
    top: 0;
    bottom: 0;
}

/* client end */

/* case studies start */
.case-container {
    position: absolute;
    width: 897px;
    height: auto;
    left: 208px;
    top: 650px;

    /* aligning items */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* cover text */
.cover-text {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}


.cover-text>div>h2 {
    color: rgb(8, 8, 8);
    font-family: Raleway;
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px;
}

.cover-text>div>p {
    color: rgb(156, 156, 156);
    font-family: IBM Plex Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1%;
    text-align: center;
}

/* All cases */
.cases {
    margin-top: 50px;
    width: 892px;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.case-content {
    height: 250px;
    width: 47%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
}

.case-tag {
    /* can add in future */
}

.case-tag .span-1 {
    background: rgb(255, 246, 233);
    border-radius: 60px;
    padding: 7px 12px;
    color: rgb(255, 162, 23);
    font-family: IBM Plex Mono;

}

.case-tag .span-2 {
    background: rgb(208, 230, 255);
    border-radius: 60px;
    padding: 7px 12px;
    color: rgb(0, 10, 255);
    font-family: IBM Plex Mono;
}

.case-tag .span-3 {
    background: rgb(224, 255, 248);
    border-radius: 60px;
    padding: 7px 12px;
    color: rgb(42, 176, 144);
    font-family: IBM Plex Mono;
}


.case-name {
    /* can add in future */
}

.case-name h3 {
    margin: 0px;
    color: rgb(8, 8, 8);
    font-family: Raleway;
    font-size: 22px;
    font-weight: 800;
}

.case-text {
    margin-top: -20px;
}

.case-text p {
    color: rgb(156, 156, 156);
    font-family: IBM Plex Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin: 0px;
}

.case-btn {
    /* can add in future */
}

.btn1 {
    width: 189.89px;
    height: 38px;
    border-radius: 4px;
    background: rgb(255, 162, 23);
    padding: 10px 24px 10px 24px;
    color: rgb(255, 255, 255);
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 700;
    border: transparent;
    cursor: pointer;
}

.btn2 {
    width: 189.89px;
    height: 38px;
    border-radius: 4px;
    background: rgb(0, 10, 255);
    padding: 10px 24px 10px 24px;
    color: rgb(255, 255, 255);
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 700;
    border: transparent;
    cursor: pointer;
}

.btn3 {
    width: 189.89px;
    height: 38px;
    border-radius: 4px;
    background: rgb(42, 176, 144);
    padding: 10px 24px 10px 24px;
    color: rgb(255, 255, 255);
    font-family: IBM Plex Mono;
    font-size: 14px;
    font-weight: 700;
    border: transparent;
    cursor: pointer;
}



/* custom images */
.case-image {
    height: 250px;
    width: 47%;
    border-radius: 6px;
}

.img1 {
    background-image: url("./assets/cases/image1.png");
    background-size: auto;
}

.img2 {
    background-image: url("./assets/cases/image2.png");
    background-size: auto;
}

.img3 {
    background-image: url("./assets/cases/image3.png");
    background-size: auto;
}

/* case studies end */

/* testimonials start */

/* .full-width {
    width: 100%;
    height: 804px;
    background-color: black;
} */

.testimonials-container {
    background: rgb(8, 8, 8);
    position: absolute;
    width: 100%;
    height: 804px;
    left: 0;
    top: 1900px;
    /* aligning items */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


.cover-text1 {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 30px;
}

.cover-text1>div>h2 {
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size: 34px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px;
}

.cover-text1>div>p {
    color: rgb(156, 156, 156);
    font-family: IBM Plex Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1%;
    text-align: center;
}

/* review container */
.reviews-container {
    width: 892px;
    height: 700px;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.feedback-1 {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback-2 {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.left {
    width: 48%;
    height: 100%;
}

.right {
    width: 48%;
    height: 100%;
}

.review-container {
    width: 100%;
    height: 220px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid rgba(245, 245, 245, 0.575);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.comma1 {
    position: absolute;
    top: 165px;
    left: 200px;
}

.comma2 {
    position: absolute;
    top: 165px;
    left: 665px;
}

.comma3 {
    position: absolute;
    top: 485px;
    left: 200px;
}

.comma4 {
    position: absolute;
    top: 485px;
    left: 665px;
}

.client-details {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.client-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url("./assets/testimonials/client1.png");
    background-size: cover;
}

.client-name {
    margin-left: 15px;
    font-family: Raleway;
    color: rgb(255, 255, 255);
}

.review-text {
    width: 90%;
}

.review-text p {
    color: rgb(156, 156, 156);
    font-family: IBM Plex Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1%;
    text-align: left;
}


/* testimonials end */